<div class="items-container">
  <% items.forEach(item => { %>
  <a href="items/<%= item.id %>">
    <div class="item-card">
      <div class="item-image"></div>
      <h3 class="item-name"><%= item.name %></h3>
      <div class="item-quantity"><%= item.quantity %><%= item.quantity <= 1 ? ' unit' : ' units' %></div>
    </div>
  </a>
  <% }); %>
</div>