<nav>
  <ul>
    <li>
      <div class="icon-container">
        <svg width="24" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M19.0156 10.75H17.0156C14.5956 10.75 13.2656 9.42 13.2656 7V5C13.2656 2.58 14.5956 1.25 17.0156 1.25H19.0156C21.4356 1.25 22.7656 2.58 22.7656 5V7C22.7656 9.42 21.4356 10.75 19.0156 10.75ZM17.0156 2.75C15.4356 2.75 14.7656 3.42 14.7656 5V7C14.7656 8.58 15.4356 9.25 17.0156 9.25H19.0156C20.5956 9.25 21.2656 8.58 21.2656 7V5C21.2656 3.42 20.5956 2.75 19.0156 2.75H17.0156Z" />
          <path d="M7.01562 22.75H5.01562C2.59562 22.75 1.26562 21.42 1.26562 19V17C1.26562 14.58 2.59562 13.25 5.01562 13.25H7.01562C9.43563 13.25 10.7656 14.58 10.7656 17V19C10.7656 21.42 9.43563 22.75 7.01562 22.75ZM5.01562 14.75C3.43563 14.75 2.76562 15.42 2.76562 17V19C2.76562 20.58 3.43563 21.25 5.01562 21.25H7.01562C8.59562 21.25 9.26562 20.58 9.26562 19V17C9.26562 15.42 8.59562 14.75 7.01562 14.75H5.01562Z" />
          <path d="M6.01562 10.75C3.39563 10.75 1.26562 8.62 1.26562 6C1.26562 3.38 3.39563 1.25 6.01562 1.25C8.63562 1.25 10.7656 3.38 10.7656 6C10.7656 8.62 8.63562 10.75 6.01562 10.75ZM6.01562 2.75C4.22563 2.75 2.76562 4.21 2.76562 6C2.76562 7.79 4.22563 9.25 6.01562 9.25C7.80562 9.25 9.26562 7.79 9.26562 6C9.26562 4.21 7.80562 2.75 6.01562 2.75Z" />
          <path d="M18.0156 22.75C15.3956 22.75 13.2656 20.62 13.2656 18C13.2656 15.38 15.3956 13.25 18.0156 13.25C20.6356 13.25 22.7656 15.38 22.7656 18C22.7656 20.62 20.6356 22.75 18.0156 22.75ZM18.0156 14.75C16.2256 14.75 14.7656 16.21 14.7656 18C14.7656 19.79 16.2256 21.25 18.0156 21.25C19.8056 21.25 21.2656 19.79 21.2656 18C21.2656 16.21 19.8056 14.75 18.0156 14.75Z" />
        </svg>
      </div><a href="/">Dashboard</a>
    </li>
    <li>
      <div class="icon-container">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0077 13.3C11.8777 13.3 11.7477 13.27 11.6277 13.2L2.79766 8.09002C2.43766 7.88002 2.31764 7.41999 2.52764 7.05999C2.73764 6.69999 3.18764 6.57997 3.55764 6.78997L12.0077 11.68L20.4076 6.82C20.7677 6.61 21.2276 6.74002 21.4376 7.09002C21.6476 7.45002 21.5177 7.90999 21.1677 8.11999L12.3977 13.2C12.2677 13.26 12.1377 13.3 12.0077 13.3Z" />
          <path d="M12.0078 22.36C11.5978 22.36 11.2578 22.02 11.2578 21.61V12.54C11.2578 12.13 11.5978 11.79 12.0078 11.79C12.4178 11.79 12.7578 12.13 12.7578 12.54V21.61C12.7578 22.02 12.4178 22.36 12.0078 22.36Z" />
          <path d="M12.0079 22.75C11.1279 22.75 10.2579 22.56 9.56793 22.18L4.22794 19.21C2.77794 18.41 1.64795 16.48 1.64795 14.82V9.16998C1.64795 7.50998 2.77794 5.59002 4.22794 4.78002L9.56793 1.82C10.9379 1.06 13.0779 1.06 14.4479 1.82L19.7879 4.78997C21.2379 5.58997 22.3679 7.51999 22.3679 9.17999V14.83C22.3679 16.49 21.2379 18.41 19.7879 19.22L14.4479 22.18C13.7579 22.56 12.8879 22.75 12.0079 22.75ZM12.0079 2.74999C11.3779 2.74999 10.7579 2.88 10.2979 3.13L4.95795 6.09997C3.99795 6.63997 3.14795 8.06999 3.14795 9.17999V14.83C3.14795 15.93 3.99795 17.37 4.95795 17.91L10.2979 20.88C11.2079 21.39 12.8079 21.39 13.7179 20.88L19.0579 17.91C20.0179 17.37 20.8679 15.94 20.8679 14.83V9.17999C20.8679 8.07999 20.0179 6.63997 19.0579 6.09997L13.7179 3.13C13.2579 2.88 12.6379 2.74999 12.0079 2.74999Z" />
          <path d="M17.008 13.99C16.598 13.99 16.258 13.65 16.258 13.24V10.0201L7.138 4.76007C6.778 4.55007 6.65798 4.09005 6.86798 3.74005C7.07798 3.38005 7.528 3.26003 7.888 3.47003L17.378 8.95007C17.608 9.08007 17.758 9.33003 17.758 9.60003V13.2601C17.758 13.6501 17.418 13.99 17.008 13.99Z" />
        </svg>
      </div><a href="/items">Items</a>
    </li>
    <li>
      <div class="icon-container">
        <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.9942 29.0056C30.4451 28.4565 29.5547 28.4565 29.0055 29.0056C28.4563 29.5548 28.4563 30.4452 29.0055 30.9944L30.9942 29.0056ZM41.0055 42.9944C41.5547 43.5435 42.4451 43.5435 42.9942 42.9944C43.5434 42.4452 43.5434 41.5548 42.9942 41.0056L41.0055 42.9944ZM19.9999 34V32.5937C13.0445 32.5937 7.40611 26.9553 7.40611 20H5.99986H4.59361C4.59361 28.5086 11.4912 35.4062 19.9999 35.4062V34ZM33.9999 20H32.5936C32.5936 26.9553 26.9552 32.5937 19.9999 32.5937V34V35.4062C28.5085 35.4062 35.4061 28.5086 35.4061 20H33.9999ZM19.9999 6V7.40625C26.9552 7.40625 32.5936 13.0447 32.5936 20H33.9999H35.4061C35.4061 11.4914 28.5085 4.59375 19.9999 4.59375V6ZM19.9999 6V4.59375C11.4912 4.59375 4.59361 11.4914 4.59361 20H5.99986H7.40611C7.40611 13.0447 13.0445 7.40625 19.9999 7.40625V6ZM29.9999 30L29.0055 30.9944L41.0055 42.9944L41.9999 42L42.9942 41.0056L30.9942 29.0056L29.9999 30Z" />
        </svg>
      </div><a href="/search">Search</a>
    </li>
    <li>
      <div class="icon-container">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.0357 2.91003C8.72571 2.91003 6.03571 5.60003 6.03571 8.91003V11.8C6.03571 12.41 5.77571 13.34 5.46571 13.86L4.31571 15.77C3.60571 16.95 4.09571 18.26 5.39571 18.7C9.70571 20.14 14.3557 20.14 18.6657 18.7C19.8757 18.3 20.4057 16.87 19.7457 15.77L18.5957 13.86C18.2957 13.34 18.0357 12.41 18.0357 11.8V8.91003C18.0357 5.61003 15.3357 2.91003 12.0357 2.91003Z" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
          <path d="M13.8855 3.19994C13.5755 3.10994 13.2555 3.03994 12.9255 2.99994C11.9655 2.87994 11.0455 2.94994 10.1855 3.19994C10.4755 2.45994 11.1955 1.93994 12.0355 1.93994C12.8755 1.93994 13.5955 2.45994 13.8855 3.19994Z" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M15.0356 19.0601C15.0356 20.7101 13.6856 22.0601 12.0356 22.0601C11.2156 22.0601 10.4556 21.7201 9.91564 21.1801C9.37564 20.6401 9.03564 19.8801 9.03564 19.0601" stroke-width="1.5" stroke-miterlimit="10" />
        </svg>
      </div><a href="/notifications">Notifications</a>
    </li>
    <li>
      <div class="icon-container">
        <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.00012 22.5938C7.22347 22.5938 6.59387 23.2233 6.59387 24C6.59387 24.7767 7.22347 25.4062 8.00012 25.4062V22.5938ZM40.0001 25.4062C40.7768 25.4062 41.4064 24.7767 41.4064 24C41.4064 23.2233 40.7768 22.5938 40.0001 22.5938V25.4062ZM8.00012 10.5938C7.22347 10.5938 6.59387 11.2233 6.59387 12C6.59387 12.7767 7.22347 13.4062 8.00012 13.4062V10.5938ZM40.0001 13.4062C40.7768 13.4062 41.4064 12.7767 41.4064 12C41.4064 11.2233 40.7768 10.5938 40.0001 10.5938V13.4062ZM8.00012 34.5938C7.22347 34.5938 6.59387 35.2233 6.59387 36C6.59387 36.7767 7.22347 37.4062 8.00012 37.4062V34.5938ZM40.0001 37.4062C40.7768 37.4062 41.4064 36.7767 41.4064 36C41.4064 35.2233 40.7768 34.5938 40.0001 34.5938V37.4062ZM8.00012 24V25.4062H40.0001V24V22.5938H8.00012V24ZM8.00012 12V13.4062H40.0001V12V10.5938H8.00012V12ZM8.00012 36V37.4062H40.0001V36V34.5938H8.00012V36Z" />
        </svg>
      </div><a href="/menu">Menu</a>
    </li>
  </ul>
</nav>