  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Items</th>
          <th>Total Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= totalItemTypeQuantity %></td>
          <td>$<%= totalInventoryValue %></td>
        </tr>
      </tbody>
    </table>
  </div>