<div>
  <div class="icon"></div>
  <h2>Inventory Summary</h2>
  <div class="summary">
    <table>
      <thead>
        <tr>
          <th>Items</th>
          <th>Total Qty</th>
          <th>Total Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= itemCount %></td>
          <td><%= totalQuantity %></td>
          <td>$<%= totalValue %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>