  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Items</th>
          <th>Total Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= totalItemTypeQuantity !== null ? totalItemTypeQuantity : 0 %></td>
          <td>$<%= totalInventoryValue !== null?  totalInventoryValue : 0.00 %></td>
        </tr>
      </tbody>
    </table>
  </div>