<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quanta | <%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="header">
    <button class="back" onclick="history.back()">
      ←
    </button>
    <h1>Low Stock</h1>
  </div>
  <%- include('partials/itemCardContainer', {items: items}) %>
  <%- include('partials/nav') %>
</body>

</html>