@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
	overflow: hidden;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100vh;
	font-family: Roboto;
}

nav {
	position: fixed;
	bottom: 0px;
	width: 100%;

	left: 0;
	right: 0;

	background-color: white;
	padding: 1em;
}

ul {
	display: flex;
	gap: 1em;
	justify-content: center;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.item-name,
.item-quantity,
.variant-name,
.warning-message span {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;

	color: #3a3d44;
}

.item-name {
	font-size: 1em;
}

.variant-name {
	font-size: 0.8em;
	color: #838a9d;
}

.item-quantity {
	font-size: 0.9em;
	color: #3a3d44;
}

/* Dashboard Page */

.dashboard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-content: start;
	gap: 1em;

	height: 100%;

	padding: 1em;
	background-color: #dbdbdb;
	overflow: auto;
	padding-bottom: 70px;
}

th,
td {
	padding-right: 2em;
	text-align: left;
}

.inventory-summary > div {
	display: grid;
	gap: 0.5em;
}

.dashboard h1 {
	grid-column: 1 / 3;
	grid-row: 1 / 2;

	vertical-align: baseline;
}

.recent-items,
.low-stock-items {
	display: grid;
	gap: 0.4em;

	margin-top: 0.75em;
}

.recent-items h2 {
	font-size: 1em;
	color: #3a3d44;
}

.low-stock-items h2 {
	font-size: 1em;
	color: #3a3d44;
}

.inventory-summary {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.insight-card {
	grid-row: 3 / 4;
}

.insight-card > div,
.inventory-summary > div {
	padding: 1em;
	border-radius: 0.5em;
	background-color: white;
	height: 100%;
}

th {
	color: #838a9d;
}

.insight-card h2,
.inventory-summary h2 {
	font-size: 1em;
}

.insight-card .subtitle {
	font-size: 0.9em;
	color: #838a9d;
}

.recent-items {
	grid-column: 1 / 3;
	grid-row: 4 / 5;
}

.recent-items .items-container {
	display: flex;
	overflow-x: auto;
	gap: 1em;
}

.recent-items .item-card {
	flex-shrink: 0;
	position: relative;

	width: 9em;

	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: 6em auto 1fr;

	padding: 1em;
	background-color: white;
	border-radius: 0.5em;
}

.recent-items .item-card .item-triple-dot-button {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.recent-items .item-card a {
	grid-column: 1 / 3;
	grid-row: 1 / 4;

	display: grid;
	grid-template-rows: subgrid;
	grid-template-columns: subgrid;
}

.recent-items .item-card .item-image {
	grid-row: 1 / 2;
	grid-column: 1 / 3;

	width: 100%;

	background-color: #bdbdbd;
	border: 0px;
}

.recent-items .item-card .variant-name {
	align-self: start;
}

.recent-items .item-card .item-name {
	align-self: start;
}

.recent-items .item-card .item-quantity {
	align-self: start;

	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	font-size: 0.9em;
}

.recent-items .item-card .item-card-text-content {
	grid-row: 3/ 4;
	grid-column: 1 / 3;
}

.recent-items .item-card .edit-item-quantity-button {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.low-stock-items {
	grid-column: 1 / 3;
	grid-row: 5 / 6;
}

.low-stock-items .items-container,
.variants-section .items-container {
	display: grid;
	grid-template-columns: 1fr;
}

.low-stock-items .item-card,
.variants-section .item-card {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 1em;

	padding: 0.75em;
	border: 0.5px solid #eaeaea;
	background-color: white;
}

.low-stock-items .item-card a,
.variants-section .item-card a {
	display: grid;
	grid-template-columns: 4em 1fr;
	grid-template-rows: 4em;
	align-content: center;
	row-gap: 0.1em;
	column-gap: 1em;
}

.low-stock-items .item-card .item-card-text-content,
.variants-section .item-card .item-card-text-content {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: repeat(2, auto);
	column-gap: 20px;
}

.low-stock-items .item-card .item-quantity,
.variants-section .item-card .item-quantity {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	justify-self: end;
	align-self: end;
}

.low-stock-items .item-card .item-quantity {
	color: orange;
}

.low-stock-items .item-card .item-name,
.variants-section .item-card .item-name {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	align-self: end;
}

.low-stock-items .item-card .variant-name,
.variants-section .item-card .variant-name {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	align-self: start;
}

.item-triple-dot-button {
	align-self: start;
	border: none;
	background-color: transparent;
	font-size: 1.1em;
	height: auto;
}

.low-stock-items .item-card .item-image,
.variants-section .item-card .item-image {
	background-color: #bdbdbd;
	border: 0px;
}

.notifications-container {
	height: calc(100% - 130px);
	border: 1px solid red;
	overflow: scroll;
}

.item-image {
	object-fit: contain;
	border-radius: 0.25em;
}

.add-item-button {
	position: absolute;
	bottom: 3.5em;
	right: 1em;
}

.add-option-container-background {
	position: absolute;
	top: 0px;
	z-index: 1000;

	width: 100%;
	height: 100%;

	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 1fr;
	align-content: end;

	background-color: rgba(0, 0, 0, 0.195);
}

.add-option-container {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0.75em;
	padding: 2em;

	position: relative;

	background-color: rgb(98, 96, 96);
}

.add-option {
	padding: 0.5em;
	border-radius: 0.5em;
	border: 0px;
}

.close-add-option-container-button {
	position: absolute;
	right: 0.75em;
	top: -0.75em;

	width: 2.5em;
	height: 2.5em;

	border-radius: 50%;
	border: 0px;
}

.notification-card {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	gap: 0.5em;
	align-items: center;
	gap: 0.5em;

	padding: 0.75em;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.notification-card .item-image {
	width: 80px;
	height: 80px;

	object-fit: contain;

	border: 1px solid red;
	border-radius: 0.25em;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.notification-card .message {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.background-overlay {
	position: absolute;
	z-index: 1;

	height: 100%;
	width: 100%;
	background-color: #00000033;
}

.utility-box-container {
	position: fixed;
	bottom: 0px;
	z-index: 2;

	width: 100%;
	height: 70%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: auto auto auto auto auto;
	align-content: start;
	gap: 1em;

	padding: 1em;
	background-color: white;
}

.utility-box-container .utility-box-close-button {
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	justify-self: end;
	border: 0px;
	border-radius: 0.5em;
}

.utility-box-container a,
.utility-box-container .delete-item-button {
	background-color: #f8f8f8;
	padding: 1em;
	border-radius: 0.5em;
	border: 0px;
	font-size: 1em;
	text-align: start;
}

.utility-box-container a:hover,
.utility-box-container .delete-item-button:hover {
	background-color: #ededed;
}

.utility-box-container .item {
	grid-row: 2 / 3;
	grid-column: 1 / 3;

	height: auto;

	display: grid;
	grid-template-columns: auto 1fr;
	grid-row: auto;
	align-content: center;
	column-gap: 0.75em;
}

.utility-box-container .item-image-container {
	grid-column: 1 / 2;
	grid-row: 1 / 2;

	width: 4em;
	height: 4em;

	border-radius: 0.5em;
	background-color: #bdbdbd;
	border: 0px;
}

.utility-box-container .item-text-content {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	align-content: center;
}

/*  Items Page */
.items {
	height: 100%;

	display: flex;
	flex-direction: column;
	gap: 0.55em;
	align-content: start;

	padding: 1em;
	background-color: #dbdbdb;
	overflow: auto;
	padding-bottom: 70px;
}

.items .table-container {
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: white;
}

.items .actions {
	display: grid;
	grid-template-columns: 1fr auto;
	justify-content: space-between;
	gap: 0.5em;
}

.items .actions select {
	width: 100%;
}

.items .actions button,
.items .actions select {
	padding: 0.75em;
	border-radius: 0.5em;
	border: 0px;
	background-color: #f8f8f8;
}

.items .items-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	gap: 1em;
}

.items .item-card {
	flex-shrink: 0;
	position: relative;

	display: grid;
	grid-template-columns: 90% 1fr;
	grid-template-rows: 5em auto auto;
	gap: 0.5em;

	padding: 1em;
	background-color: white;
	border-radius: 0.5em;
}

.items .item-card a {
	grid-column: 1 / 3;
	grid-row: 1 / 4;

	display: grid;
	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
}

.items .item-image {
	grid-column: 1 / 3;
	grid-row: 1 / 2;

	background-color: #bdbdbd;
}

.items .item-card-text-content {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.item-card-text-content .low-stock-indicator {
	position: absolute;
	top: 6.6em;

	padding: 0.25em;
	margin-left: 0.4em;
	border-radius: 0.25em;

	background-color: #f12626;

	font-size: 0.7em;
	color: white;
}

.items .item-triple-dot-button {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	transform: rotate(180deg);
}

.warning-message-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 50vh;
	margin-inline: auto;

	max-width: 400px;

	padding: 1em;
	border-radius: 0.5em;
	background-color: white;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	justify-content: center;
	gap: 1em;
}

.warning-message-container .warning-message {
	grid-column: 1 / 3;
	hyphens: auto;
}

.warning-message-container button {
	grid-row: 2 / 3;
	background-color: #eaeaea;
	border: 0px;
	padding: 0.5em;
	border-radius: 0.25em;
}

/* Item page */
.item-description {
	height: 100%;

	padding: 1em;
	background-color: #dbdbdb;
	overflow: auto;
	padding-bottom: 70px;

	display: grid;
	grid-template-rows: auto 1fr;
	gap: 0.5em;
}

.item-description .item-container {
	max-width: 500px;

	background-color: white;
	border-radius: 0.5em;
	padding: 2.5em;

	display: flex;
	flex-direction: column;
}

.item-container h2 {
	grid-column: 1 / 3;
	font-size: 2em;
}

.item-description button {
	background-color: #eaeaea;
	padding: 0.5em;
	border: 0px;
	border-radius: 0.5em;
}

.item-description .section-title {
	font-size: 0.8em;
	color: #838a9d;
}

.item-description .actions {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1em;
}

.item-description .update-date,
.item-description .actions,
.item-description .quantity,
.item-description .price,
.item-description .min-level,
.item-description .tags-section,
.item-description .variants-section,
.item-description .variant-name-section,
.item-description .total-value,
.item-description .item-summary,
.item-description h2 {
	padding: 10px;
}

.item-description form {
	padding-top: 10px;
}

.item-description .update-date,
.item-description .actions,
.item-description .quantity,
.item-description .price,
.item-description .min-level,
.item-description .tags-section,
.item-description .variants-section,
.item-description .variant-name-section,
.item-description .total-value,
.item-description .item-summary,
.item-description {
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
}

.item-description .update-date,
.item-description .quantity,
.item-description .price,
.item-description .tags-section,
.item-description .variants-section,
.item-description .variant-name-section,
.item-description .item-summary,
.item-description {
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
}

.item-description h2 {
	border-bottom: 1px solid #eaeaea;
}

.item-description .item-summary {
	display: flex;
	gap: 3em;
}

.item-description .item-details,
.item-description .item-stats {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.item-description .min-level,
.item-description .price {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
}

.item-description .quantity {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto;
}

.item-description .quantity .title {
	grid-template-columns: 1 / 3;
	grid-row: 1 / 2;
}

.item-description .quantity .value {
	grid-row: 2 / 3;
}

.item-description .quantity a {
	grid-row: 1 / 3;
	grid-column: 2 / 3;

	align-self: center;
}

.item-description .variants-section {
	display: grid;
	gap: 0.5em;
}

.item-description .variants-section .item-triple-dot-button {
	transform: rotate(-90deg);
	background-color: transparent;

	align-self: center;
}

.item-description .tags-section .empty-value-placeholder {
	color: #838a9d;
}

.item-description form {
	display: flex;
}

.item-description .delete-item-button {
	flex-grow: 1;
}

.item-description .delete-item-button:hover {
	background-color: #ff4e4e;
	color: white;
}
