@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100%;
	font-family: Roboto;
}

nav {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

ul {
	display: flex;
	gap: 1em;
	justify-content: center;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/* Dashboard Page */

body.dashboard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row: 1fr;
	gap: 1em;

	padding: 1em;
	background-color: #dbdbdb;
	overflow: scroll;
	padding-bottom: 70px;
}

th,
td {
	padding-right: 2em;
	text-align: left;
}

.inventory-summary > div {
	display: grid;
	gap: 0.5em;
}

.dashboard h1 {
	grid-column: 1 / 3;
	grid-row: 1 / 2;

	vertical-align: baseline;
}

.recent-items,
.low-stock-items {
	display: grid;
	gap: 0.4em;

	margin-top: 0.75em;
}

.recent-items h2 {
	font-size: 1em;
	color: #3a3d44;
}

.low-stock-items h2 {
	font-size: 1em;
	color: #3a3d44;
}

.inventory-summary {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.insight-card {
	grid-row: 3 / 4;
}

.insight-card > div,
.inventory-summary > div {
	padding: 1em;
	border-radius: 0.5em;
	background-color: white;
	height: 100%;
}

th {
	color: #838a9d;
}

.insight-card h2,
.inventory-summary h2 {
	font-size: 1em;
}

.insight-card .subtitle {
	font-size: 0.9em;
	color: #838a9d;
}

.recent-items {
	grid-column: 1 / 3;
	grid-row: 4 / 5;
}

.recent-items .items-container {
	display: flex;
	overflow-x: auto;
	gap: 1em;
}

.recent-items .item-card {
	flex-shrink: 0;
	position: relative;

	width: 9em;

	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto 1fr;

	padding: 1em;
	background-color: white;
	border-radius: 0.5em;
}

.recent-items .item-card .item-triple-dot-button {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.recent-items .item-card a {
	grid-column: 1 / 3;
	grid-row: 1 / 4;

	display: grid;
	grid-template-rows: subgrid;
	grid-template-columns: subgrid;
}

.recent-items .item-card .item-image {
	grid-row: 1 / 2;
	grid-column: 1 / 3;

	width: 100%;

	background-color: #bdbdbd;
	border: 0px;
}

.recent-items .item-card .variant-name {
	align-self: start;

	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	font-size: 0.9em;
	color: #676b78;
}

.recent-items .item-card .item-name {
	align-self: start;

	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	font-size: 1em;
}

.recent-items .item-card .item-quantity {
	align-self: start;

	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	font-size: 0.9em;
}

.recent-items .item-card .item-card-text-content {
	grid-row: 3/ 4;
	grid-column: 1 / 3;
}

.recent-items .item-card .edit-item-quantity-button {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.low-stock-items {
	grid-column: 1 / 3;
	grid-row: 5 / 6;
}

.low-stock-items .items-container {
	display: grid;
	grid-template-columns: 1fr;
}

.low-stock-items .item-card {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 1em;

	padding: 0.75em;
	border: 0.5px solid #eaeaea;
	background-color: white;
}

.low-stock-items .item-card a {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr;
	align-content: center;
	row-gap: 0.1em;
	column-gap: 1em;
}

.low-stock-items .item-card .item-card-text-content {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: repeat(2, auto);
}

.low-stock-items .item-card .item-quantity {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	justify-self: end;
	align-self: end;
	color: orange;
}

.low-stock-items .item-card .item-name {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	align-self: end;

	font-size: 1em;
}

.low-stock-items .item-card .variant-name {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	align-self: start;

	font-size: 0.9em;
	color: #676b78;
}

.item-triple-dot-button {
	align-self: start;
	border: none;
	background-color: transparent;
	font-size: 1.1em;
	height: auto;
}

.low-stock-items .item-card .item-image {
	background-color: #bdbdbd;
	border: 0px;
}

.notifications-container {
	height: calc(100% - 130px);
	border: 1px solid red;
	overflow: scroll;
}

.item-image {
	width: 80px;
	height: 80px;

	object-fit: contain;

	border: 1px solid red;
	border-radius: 0.25em;

	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.item-name {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	align-self: end;
}

.item-quantity {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.add-item-button {
	position: absolute;
	bottom: 3.5em;
	right: 1em;
}

nav {
	background-color: white;
	padding: 1em;
}

.add-option-container-background {
	position: absolute;
	top: 0px;
	z-index: 1000;

	width: 100%;
	height: 100%;

	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 1fr;
	align-content: end;

	background-color: rgba(0, 0, 0, 0.195);
}

.add-option-container {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0.75em;
	padding: 2em;

	position: relative;

	background-color: rgb(98, 96, 96);
}

.add-option {
	padding: 0.5em;
	border-radius: 0.5em;
	border: 0px;
}

.close-add-option-container-button {
	position: absolute;
	right: 0.75em;
	top: -0.75em;

	width: 2.5em;
	height: 2.5em;

	border-radius: 50%;
	border: 0px;
}

.notification-card {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	gap: 0.5em;
	align-items: center;
	gap: 0.5em;

	padding: 0.75em;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.notification-card .item-image {
	width: 80px;
	height: 80px;

	object-fit: contain;

	border: 1px solid red;
	border-radius: 0.25em;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.notification-card .message {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
