* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100vh;
}

nav {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

ul {
	display: flex;
	gap: 1em;
	justify-content: center;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.items-container,
.notifications-container {
	height: calc(100% - 130px);
	border: 1px solid red;
	overflow: scroll;
}

.item-card {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	gap: 0.5em;

	padding: 0.75em;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.item-image {
	width: 80px;
	height: 80px;

	object-fit: contain;

	border: 1px solid red;
	border-radius: 0.25em;

	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.item-name {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	align-self: end;
}

.item-quantity {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.add-item-button {
	position: absolute;
	bottom: 3.5em;
	right: 1em;
}

nav {
	background-color: white;
	padding: 1em;
}

.add-option-container-background {
	position: absolute;
	top: 0px;
	z-index: 1000;

	width: 100%;
	height: 100%;

	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 1fr;
	align-content: end;

	background-color: rgba(0, 0, 0, 0.195);
}

.add-option-container {
	width: 100%;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0.75em;
	padding: 2em;

	position: relative;

	background-color: rgb(98, 96, 96);
}

.add-option {
	padding: 0.5em;
	border-radius: 0.5em;
    border: 0px;
}

.close-add-option-container-button {
	position: absolute;
	right: 0.75em;
	top: -0.75em;

    width: 2.5em;
    height: 2.5em;

    border-radius: 50%;
    border: 0px;
}

.notification-card {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	gap: 0.5em;
	align-items: center;
    gap: 0.5em;

	padding: 0.75em;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.notification-card .item-image {
	width: 80px;
	height: 80px;

	object-fit: contain;

	border: 1px solid red;
	border-radius: 0.25em;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
}


.notification-card .message {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
