* {
	margin: 0px;
	padding: 0px;
}

body {
	position: relative;
	height: 100vh;
}

nav {
	position: absolute;
	bottom: 0px;
    width: 100%;
}

ul {
    display: flex;
    gap: 1em;
    justify-content: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}